<div id=<%= l.id %> class="show-lesson" style="background-color:#bdc3c7;width:300px;padding:5px;margin:5px;border:1px solid black;cursor:pointer">
  <h3><%= l.title %></h3>
  <a href="#">Click to View</a>
</div>