<div class="container">
  <h1 id="welcome" >Welcome to CourseBeat!</h1>

  <div id="show-lessons">
    <button id="new-lesson" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
      New Lesson
    </button>

    <h2 id="your-lessons">Your Lessons</h2>

    <% @lessons.each do |l| %>
      <h3><%= l.title %></h3>
    <% end %>
  </div>

  <div id="render-data"></div>



</div>

<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">New Lesson</h4>
      </div>
      <div id="text-goes-here" class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button id="create-lesson" type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->