<div id='index' class="container">

  <div id="welcome-div" class="jumbotron" style="opacity: 0.85;">
    <h1 id="welcome">Welcome to CourseBeat!</h1><br>
    <p>Gauging students' understanding is one of the hardest parts of being a teacher. CourseBeat bridges the gaps between students and teachers, allowing for instant feedback on how well students understand.</p>
    <p><b>Teachers</b> can create lesson plans, send out the link to students, and get real-time data from their class.</p>
    <p><b>Students</b> can see new lesson plans, vote on how well they understand the concepts, and see how the rest of the class is faring.</p>
    <a id="toggle-show-lessons" style="font-size:2em">Click here to get started!</a>
  </div>

  <div id="show-lessons" class="hide">
    <div class="left">
      <h2 id="your-lessons">Lessons</h2>
    </div>
    <div class="right">
      <button id="new-lesson" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
        New Lesson
      </button>
    </div>
    <% @lessons.each do |l| %>
      <%= render 'lesson_small', l: l %>
    <% end %>
  </div>
</div>

<div id="render-data" class="container"></div>

<%= render 'modal' %>
