<div id='index' class="container">
  <h1 id="welcome" >Welcome to CourseBeat!</h1>

  <div id="show-lessons">
    <button id="new-lesson" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
      New Lesson
    </button>

    <h2 id="your-lessons">Your Lessons</h2>

    <% @lessons.each do |l| %>
      <%= render 'lesson_small', l: l %>
    <% end %>
  </div>
</div>

<div id="render-data" class="container"></div>

<%= render 'modal' %>
