<div id='index' class="container">

  <div id="welcome-div" class="jumbotron">
    <h1 id="welcome" style="text-align:center">Welcome to CourseBeat!</h1><br>
    <p>Gauging students' understanding is one of the hardest parts of being a teacher. CourseBeat bridges the gaps between students and teachers, allowing for instant feedback on how well students understand.</p>
    <h2 style="margin-top: 20px; margin-bottom: 20px">How Does It Work?</h2>
    <div><b>Teachers</b> create lesson plans on the day's lesson and send out the link to students.</div>
    <p><b>Students</b> click on the link, see the day's plans, and vote on how well they understand the concepts.</p>
    <p><b>Everyone benefits:</b> Teachers get real-time data, and students see how the rest of the class is faring.</p>
    <a id="toggle-show-lessons" style="font-size:2em">Click here to get started!</a>
  </div>

  <div id="show-lessons" class="hide">
    <div class="left">
      <h2 id="your-lessons">My Lessons</h2>
    </div>
    <div class="right">
      <button id="new-lesson" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#new-lesson-modal">
        New Lesson
      </button>
    </div>
    <% @lessons.each do |l| %>
      <%= render 'lesson_small', l: l %>
    <% end %>
  </div>
</div>

<div id="render-data" class="container"></div>

<%= render 'modal' %>
<%= render 'edit_lesson_modal' %>

