/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import url(http://fonts.googleapis.com/css?family=Raleway);

html, body {
  height: 100%;
}

body {
  background:
    linear-gradient(
      rgba(132, 192, 215, 0.45),
      rgba(132, 192, 215, 0.45)
    ),
    url(hands.jpg);

  background-size: 100%;
  background-attachment: fixed;
}

#welcome {
  font-family: Raleway;
  font-size: 50px;
}

#welcome-div {
  opacity: 0.85;
  text-align:center;
}

#show-lessons {
  font-family: Raleway;
}

#your-lessons {
  font-family: Raleway;
}

/*To line New Lesson button with rest of that header*/
#new-lesson {
  margin-top: 20px;
  margin-bottom: 10px;
}

.category-div {
  margin: 10px;
  padding: 10px;
}

#modal-text input, #edit-modal-text input {
  border: 0px;
  border-bottom: 1px solid black;
  width: 350px;
  margin-bottom: 5px;
}

.show-lesson {
  background-color:rgba(34, 34, 34, .85);
  color: #bdc3c7;
  width:300px;
  padding:5px;
  margin:5px;
  /*border:1px solid black;*/
  cursor:pointer;
  border-radius: 5px;
  clear:both;
  font-family: Raleway;
}

.show-lesson a {
  color: #bdc3c7;
}

.show-lesson:hover {
  background-color: #c0392b;
  color: white;
}

.show-category {
  background-color:rgba(34, 34, 34, .85);
  color: #C0C0C0;
  width: 75%;
  padding:5px;
  border: 1px solid black;
  margin: 5px;
  border-radius: 5px;
  clear: both;
  margin-left: auto;
  margin-right: auto;
}

.left {
  float: left;
}

.right {
  text-align: right;
  float: right;
}

.clear {
  clear:both;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 5px;
}

#show-lesson-title {
  font-size: 50px;
}

.center {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  text-align: center;
}

.center a {
  font-size: 30px;
}

#toggle-show-lessons:hover {
  text-decoration: none;
  cursor: pointer;
}
